<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="DHA.DSTC.WPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DHA.DSTC.WPF.ProjectProperties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
  <DHA.DSTC.WPF.Settings>
			<setting name="DataverseTenantId" serializeAs="String">
				<value>28f0e92f-184e-4166-84cd-af41a0b93f83</value>
			</setting>
			<setting name="DataverseEnvironmentUrl" serializeAs="String">
				<value>https://dhapd-dev.crm11.dynamics.com</value>
			</setting>
			<setting name="DataverseClientId" serializeAs="String">
				<value>41cf8aa2-60ea-404e-b549-32491b2060dc</value>
			</setting>
		</DHA.DSTC.WPF.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.7" newVersion="6.0.0.7" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <DHA.DSTC.WPF.ProjectProperties.Settings>
   <setting name="DataverseTenantId" serializeAs="String">
    <value>28f0e92f-184e-4166-84cd-af41a0b93f83</value>
   </setting>
   <setting name="DataverseEnvironmentUrl" serializeAs="String">
    <value>https://dhapd.crm11.dynamics.com</value>
   </setting>
   <setting name="DataverseClientId" serializeAs="String">
    <value>41cf8aa2-60ea-404e-b549-32491b2060dc</value>
   </setting>
  </DHA.DSTC.WPF.ProjectProperties.Settings>
 </applicationSettings>
</configuration>